<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

        <script type="text/javascript" src="../static/jquery-3.5.1/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="../static/jquery-3.5.1/popper.min.js"></script>
        <script type="text/javascript" src="../static/daterangepicker-master/moment.min.js"></script>

        <script type="text/javascript" src="../static/daterangepicker-master/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/daterangepicker-master/daterangepicker.css">

        <link rel="stylesheet" type="text/css" href="../static/bootstrap-4.3.1/css/bootstrap.min.css">
        <script type="text/javascript" src="../static/bootstrap-4.3.1/js/bootstrap.min.js"></script>
        
        <script type="text/javascript" src="../static/datatable-1.10.22/datatables.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/datatable-1.10.22/datatables.min.css">
        <script type="text/javascript" src="../static/datatable-1.10.22/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="../static/datatable-1.10.22/buttons.html5.min.js"></script>
        <script type="text/javascript" src="../static/datatable-1.10.22/jszip.min.js"></script>
    <!--
        <script type="text/javascript" src="chartjs-2.9.3/js/hammer.min.js"></script>  
        <link rel="stylesheet" type="text/css" href="chartjs-2.9.3/css/Chart.min.css">
        <script type="text/javascript" src="chartjs-2.9.3/js/Chart.bundle.min.js"></script>
        <script type="text/javascript" src="chartjs-2.9.3/js/chartjs-plugin-zoom.min.js"></script>
        <script type="text/javascript" src="chartjs-2.9.3/js/chartjs-plugin-labels.js"></script>
    -->
        

        <script type="text/javascript" src="../static/jspdf-2.1.1/jspdf.debug.js"></script>
        <script type="text/javascript" src="../static/jspdf-2.1.1/jspdf.umd.min.js"></script>
        <script type="text/javascript" src="../static/jspdf-2.1.1/jspdf.plugin.autotable.min.js"></script>
        <link rel="stylesheet" type="text/css"  href='https://fonts.googleapis.com/css?family=Open Sans'>
        <link rel="stylesheet" type="text/css" href="../static/fontawesome/css/all.css">    

        <link rel="stylesheet" type="text/css" href="../static/assets/css/base.css"> 
        <!-- <script type="text/javascript" src="assets/js/base.js"></script> -->
        
        <script type="text/javascript" src="../static/chartjs-2.9.3/js/Chart.bundle.js"></script>
        <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>-->
        
        <title>Sistema de Produção</title>
        <link rel="shortcut icon" href="../static/assets/images/api.png">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand justify-content-center" ><img class="d-inline-block align-top" height="35" src="../static/assets/images/puc.webp"></a>
            <!-- <a class="navbar-brand" href="#"><img class="d-inline-block align-top" height="35" src="assets/images/sistema.png"></a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav1" aria-controls="nav1" aria-expanded="false" aria-label="Navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="nav1">
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                        
                    </li>
            
                    <li class="nav-item">
                        
                        <li class="nav-item">
                            
                        </li>
                        <li class="nav-item">
                            
                        </li>

                </ul>
            </div>
        </nav>
        <!-- card CEP -->
        <div class="row justify-content-center text-black">
            <div class="card text-black o-hidden bg-light border-info h-100" style="width: 50rem;">
                <div class="card-body">
                    <p id="escrever">
                    
                    </p>
                    <div class="row justify-content-center">
                        <form id="formulario">
                            <input type="text" class="form-control" id="cep">
                            <button type="submit" class="btn btn-success" id="iniciar-parada"><i class="fas fa-play"></i> </button>
                        </form>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row">
                            <label for="inputAddress">Bairro</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>  
                    </div>
                    
                    <div class="row justify-content-center">
                        <div class="row">
                            <div class="row col-6">
                                <h5>
                                    CEP:
                                </h5>
                            </div>
                            <div class="row">
                            
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                            </div>
                            
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!--Card CNPJ-->
        <div class="row justify-content-center text-black">
            <div class="card text-black o-hidden bg-light border-info h-100" style="width: 50rem;">
                <div class="card-body">
                    <p id="escrever">
                    
                    </p>
                    <div class="row justify-content-center">
                        <form id="formulario">
                            <input type="text" class="form-control" id="cnpj">
                            <button type="submit" class="btn btn-success" id="iniciar-parada"><i class="fas fa-play"></i> </button>
                        </form>
                    </div>
                    <div class="row justify-content-center">
                        <div class="row">
                            <label for="inputAddress">Bairro</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>  
                    </div>
                    
                    <div class="row justify-content-center">
                        <div class="row">
                            <div class="row col-6">
                                <h5>
                                    CEP:
                                </h5>
                            </div>
                            <div class="row">
                            
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                            </div>
                            
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </body>

<script>
    var cep = '01001-000';
    var area = document.getElementById('escrever');
    var form = document.getElementById('formulario');
    form.addEventListener('submit', function(e){
        e.preventDefault();
        cep = document.getElementById('cep').value;
        console.log(cep);
        jQuery.ajax({
                //'localhost:5156/Cep/'+cep
                url:'https://viacep.com.br/ws/'+ cep + '/json/',
                type: 'GET',
                data:{},
                headers: {},
                success:  function(response){
                    console.log(response);
                    
                    document.getElementById("escrever").innerHTML = response['bairro'];
                    
                    
                }
        });
    });
    

</script>

</html>

